<!doctype html>
<html ng-app="myApp">
    
<head>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>
        
<body>
    <h2 id="header" class="large">Login</h2>
    <div class="form-container">
        <form method="POST" action="/login">
            <input class="txtInput" type="text" id="username" name="username" placeholder="Username"><br>
            <input class="txtInput" type="password" id="password" name="password" placeholder="Password"><br>
            <input type="submit" class="btnPrimary" value="Login">
        </form>
    </div>
    <hr>
    <span id="loginMsg">
    <%= msg %>
    </span>
    <a class="small signup" id="signUpLink" href="/signup">Sign Up</a>
</body>
        
</html>